{% set iface = ansible_default_ipv4.interface %}
network:
    version: 2
    ethernets:
        {{ iface }}:
            addresses:
            - {{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.prefix }}
            match:
                macaddress: {{ hostvars[inventory_hostname]['ansible_' + iface]['macaddress'] }}
            nameservers:
                addresses:
                - {{ ansible_facts.dns.nameservers[0] | default('1.1.1.1') }}
                - {{ ansible_facts.dns.nameservers[1] | default('8.8.8.8') }}
                search:
                - dlzcorp.com
            set-name: {{ iface }}
            routes:
                - to: default
                  via: {{ ansible_default_ipv4.gateway }}

